body {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

th.MuiTableCell-head {
  font-weight: bold;
}

#root .MuiSelect-select {
  width: 176px;
}

.MuiCard-root {
  padding: 10px;
  margin-bottom: 10px;
}

.MuiDialog-paper {
  padding: 10px;
}

.MuiDialogActions-root {
  align-self: flex-end;
}

.react-forms > .MuiDialogContent-root {
  display: flex;
  flex-direction: column;
}

.react-forms.react-forms-row > .MuiDialogContent-root {
  flex-direction: row;
}

.short input {
  width: 50px;
}

.right {
  float: right;
}

img.primary {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

img.secondary {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.link, .link * {
  border: none;
  background: none;
  text-decoration: underline;
  text-transform: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.MuiFab-root.back {
  position: absolute;
  margin: 0;
  top: 10px;
  right: auto;
  bottom: auto;
  left: 10px;
  background: none;
}

.positioning-container {
  position: relative;
}